<header>
    <div id='divmenu'>
        <button id="btnMenu">MENU</button>
    </div>
    <div id="divnav">
        <nav>
            <ul id="ulMenu">
                <img src="./assets/img/big3.png">
                <a name="cronograma" [routerLink]="['cronograma']" class="page">CRONOGRAMA</a>
                <a name="nuevoEquipo" [routerLink]="['registroEquipo']" class="page">NUEVO EQUIPO</a>
                <a name="hojaDeVida" [routerLink]="['hojasDeVida']" class="page">HOJAS DE VIDA</a>
                <a name="inactivos" [routerLink]="['login']" class="page">login</a>
            </ul>
        </nav>
    </div>
</header>