<div id="divvehiculos">
    <div id="divtab">
        <ul>
            <li>
                <p (click)="updateCurrentSection('buses')">Buses</p>
            </li>
            <li>
                <p (click)="updateCurrentSection('gps')">Gps</p>
            </li>
            <li>
                <p (click)="updateCurrentSection('wifi')">Wifi</p>
            </li>
            <li>
                <p (click)="updateCurrentSection('internet')">Internet</p>
            </li>
        </ul>
    </div>

    <div id="botonesbus">
        <input id="inputbuscarbus" placeholder="Datos del Vehiculo" (keyup)="filterData()" #input>
        <label for="numerobus">Numero bus</label>
        <input type="radio" name="filterbus" id="numerobus" value="numero" (click)="changeFilter($event)" checked>
        <label for="placabus">Placa</label>
        <input type="radio" name="filterbus" id="placabus" value="placa" (click)="changeFilter($event)">
        <select placeholder="estado" (change)="filterData()" #status>
            <option value="todos">todos</option>
            <option value="ACTIVO">activos</option>
            <option value="INACTIVO">inactivos</option>
            <option value="DESVINCULADO">desvinculados</option>
        </select>
    </div>
    <div>
        <ng-template appDinamicHost> </ng-template>
    </div>
</div>