<div id="formRegistro">
    <section id="cuerpo">
        <h1 class="title-edit">REGISTRO SOPORTE ACTIVO N° {{codigoActivo}}</h1>
        <form [formGroup]="registroSoporteForm" (ngSubmit)="guardarRegistro(registroSoporteForm.value)">
            <div class="v_div">
                <label for="nombre-pc">Nombre pc</label>
                <input type="text" name="nombrepc" id="nombrepc" [value]="dataJson !== undefined ? dataJson[1][0].nombrepc : 'UNDEFINED' " readonly>
            </div>
            <h2>1. MANTENIMIENTO</h2>
            <div>
                <div>
                    <p>
                        <label for="fecha-realizacion">Fecha Realización</label>
                        <input formControlName="fecharealizacion" type="date" name="fecharealizacion" id="fecharealizacion" value="">
                    </p>
                    <div *ngIf="registroSoporteForm.get('fecharealizacion').hasError('required') && registroSoporteForm.get('fecharealizacion').touched">
                        <p class="red">Es necesario ingresar la fecha*</p>
                        <br>
                    </div>

                    <label for="realizo">Realizó, Nombre del profesional de apoyo</label>
                    <select formControlName="realizo" name="realizo" id="realizo" *ngIf="dataJson">
                        <option *ngFor="let persona of dataJson[2]" [value]="persona.cedula">{{persona.nombre}}</option>
                    </select>
                    <div *ngIf="registroSoporteForm.get('realizo').hasError('required') && registroSoporteForm.get('realizo').touched">
                        <p class="red">Es necesario elejir un profesional de apoyo*</p>
                        <br>
                    </div>
                    <p>
                        <label for="observaciones">Observaciones</label>
                        <textarea formControlName="observaciones" name="observaciones" id="observaciones" rows="8" cols="80"></textarea>
                    </p>
                    <div *ngIf="registroSoporteForm.get('observaciones').hasError('required') && registroSoporteForm.get('observaciones').touched">
                        <p class="red">Es necesario observaciones del soporte tecnico*</p>
                        <br>
                    </div>
                </div>

                <div>
                    <p>
                        <label for="usrresponsable">Responsable</label>
                        <input formControlName="usrresponsable" type="text" name="usrresponsable" id="usrresponsable" value="" placeholder="nombre de persona presente durante soporte tecnico">
                    </p>
                    <div *ngIf="registroSoporteForm.get('usrresponsable').hasError('required') && registroSoporteForm.get('usrresponsable').touched">
                        <p class="red">Es necesario es necesario el nombre del usuario responsable*</p>
                        <br>
                    </div>
                    <div #divcanvas id="dv" style="border:none" width="100%">
                        <label for="canvas">Firma Usuario Responsable</label>
                        <canvas #canvas id="canvas" style="border:solid black 2px; box-sizing: border-box;"></canvas>
                    </div>
                    <button id="clearFirm" type="button" name="button" (click)="borrarFirma()" class="boton_personalizado">Borrar firma</button>
                    <button id="send-firm" type="button" name="button" style="display: none">Enviar Firma</button>
                    <textarea #dataImage formControlName="dataImage" id="dataImage" name="dataImage" width="100%" style="display: none">
                    </textarea>
                    <div>
                        <img #imageFirm id="imgageFirm" width="300px" height="300px" src="" height="auto" alt="" style="display: none">
                    </div>

                </div>
            </div>
            <h2>2. UBICACIÓN ACTUAL</h2>
            <div class="">
                <table class="egt">
                    <tr>
                        <th><label for="usrresponsable"> Usuario Responsable</label></th>
                        <th><label for="ubicacion"> Ubicación dentro de la empresa</label></th>
                        <th><label for="fecha"> Fecha</label></th>
                        <th><label for="firma"> Firma Responsable</label></th>
                    </tr>
                    <tr>
                        <td>
                            <input class="text-input-center" type="text" name="usrresponsable" id="usrresponsable" [value]="dataJson !== undefined ? dataJson[1][0].nombre : 'UNDEFINED' " readonly>
                        </td>
                        <td>
                            <input class="text-input-center" type="text" name="ubicacion" id="ubicacion" [value]="dataJson !== undefined ? dataJson[1][0].proceso : 'UNDEFINED' " readonly>
                        </td>
                        <td class="padding-bottom-edit">
                            <input class="text-input-center" type="date" name="fecha" id="fecha" [value]="dataJson !== undefined ? dataJson[1][0].fechaEntrega : 'UNDEFINED' " readonly>
                        </td>
                        <td *ngIf="dataJson">
                            <img height="30px" [src]="dataJson[1][0].firma">
                        </td>
                    </tr>
                </table>
            </div>
            <!-- <h2><label for="recomendaciones" style="display: none;">3. RECOMENDACIONES Y/O OBSERVACIONES</label></h2>
            <div class="v_div">
                <textarea style="box-sizing: border-box; display:none;" name="recomendaciones" name="recomendaciones" id="recomendaciones" rows="8" cols="80" readonly>sdfsdfdfsdf</textarea>
            </div> -->
            <div class="button-container">
                <!--<button [disabled]="registroSoporteForm.invalid" type="submit" class="boton_personalizado">GUARDAR</button>-->
                <button type="submit" class="boton_personalizado">GUARDAR</button>
            </div>
            <br>
            <br>
            <br>
            <br>
        </form>
    </section>
</div>