<div #cronograma>
    <table id="tableCronograma">
        <caption>CRONOGRAMA</caption>
        <tr>
            <th class="tht">Nombre PC</th>
            <th class="tht" id="oficinaTH">Oficina</th>
            <th class="tht">Ultimo Mantenimiento</th>
            <th class="thb"><img class="imgEdit" src="./assets/img/cogs-solid.svg" alt=""></th>
        </tr>
        <tr class="rowR">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td class="tdBtn" id="123">
                <img class="imgEdit" src="./assets/img/edit-regular.svg" alt="">
            </td>
        </tr>
        <tr class="rowY">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td class="tdBtn" id="123">
                <img class="imgEdit" src="./assets/img/edit-regular.svg" alt="">
            </td>
        </tr>
        <tr class="rowG">
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td class="tdBtn" id="123">
                <img class="imgEdit" src="./assets/img/edit-regular.svg" alt="">
            </td>
        </tr>
    </table>
</div>