<div #cronograma id="cronograma">
    <table id="tableCronograma">
        <caption>CRONOGRAMA</caption>
        <tr>
            <th class="tht">Nombre PC</th>
            <th class="tht" id="oficinaTH">Oficina</th>
            <th class="tht">Ultimo Mantenimiento</th>
            <th class="thb"><img class="imgEdit" src="./assets/img/cogs-solid.svg" alt=""></th>
        </tr>
        <tr *ngFor="let equipo of listaEquipos" [class]="defineClassRow(equipo.fecha)">
            <td>{{equipo.nombrepc}}</td>
            <td>{{equipo.proceso}}</td>
            <td>{{equipo.fecha}}</td>
            <td [class]="defineClassRow(equipo.fecha)" class="tdBtn" (click)="registroSoporte(equipo.codigoActivo)">
                <img class="imgEdit" src="./assets/img/edit-regular.svg" alt="">
            </td>
        </tr>
    </table>
</div>