<div #cronograma id="cronograma">
    <table id="tableCronograma">
        <caption>CRONOGRAMA</caption>
        <tr>
            <th class="tht">Nombre PC</th>
            <th class="tht" id="oficinaTH">Oficina</th>
            <th class="tht">Ultimo Mantenimiento</th>
            <th class="thb"><img class="imgEdit" src="./assets/img/cogs-solid.svg" alt=""></th>
        </tr>
        <tr *ngFor="let equipo of listaEquipos" [class]="defineClassRow(equipo.fecha)" #equipo.codigoActivo>
            <td>{{equipo.nombrepc}}</td>
            <td id="oficinaTH">{{equipo.proceso}}</td>
            <td>{{equipo.fecha}}</td>
            <div>
                <td [class]="defineClassRow(equipo.fecha)" class="tdBtn" (click)="deleteRow(equipo.codigoActivo)">
                    <img class="imgEdit" src="./assets/img/trash-alt-regular.svg" alt="">
                </td>
                <td [class]="defineClassRow(equipo.fecha)" class="tdBtn" (click)="registroSoporte(equipo.codigoActivo)">
                    <img class="imgEdit" src="./assets/img/edit-regular.svg" alt="">
                </td>
                <td [class]="defineClassRow(equipo.fecha)" class="tdBtn" (click)="registroSoporte(equipo.codigoActivo)">
                    <img class="imgEdit" src="./assets/img/file-pdf-regular.svg" alt="">
                </td>
            </div>
        </tr>
    </table>
</div>