<h1>BUSCAR</h1>
<!-- <label for="nombre">Buscar</label> -->
<input class="form-control" (keyup)="filterData($event)" type="text" id="nombre" placeholder="busqueda">
<div class="divBuscar">
    <div class="item">
        <input class="radio" (click)="changeFilter($event)" type="radio" id="nombre" name="filtro" value="nombre">
        <label for="nombre">nombre</label>
    </div>
    <div class="item">
        <input class="radio" (click)="changeFilter($event)" type="radio" id="proceso" name="filtro" value="proceso">
        <label for="proceso">proceso</label>
    </div>
    <div class="item">
        <input class="radio" (click)="changeFilter($event)" type="radio" id="usuario" name="filtro" value="usuario">
        <label for="cedula">usuario</label>
    </div>
</div>
<div #cronograma id="cronograma" *ngIf="arrayFilter && typeFilter">
    <table id="tableCronograma">
        <caption>CRONOGRAMA</caption>
        <tr>
            <th class="tht">NOMBRE PC</th>
            <th class="tht" id="oficinaTH">PROCESO</th>
            <th class="tht">USUARIO</th>
            <th class="thb"><img class="imgEdit" src="./assets/img/cogs-solid.svg" alt=""></th>
        </tr>
        <tr *ngFor="let equipo of arrayFilter" [class]="defineClassRow()">
            <td>{{equipo.nombrepc}}</td>
            <td id="oficinaTH">{{equipo.proceso}}</td>
            <td>{{equipo.nombreResponsable}}</td>
            <td [class]="defineClassRow(1)" class="tdBtn" (click)="myrouter(equipo.codigoActivo)">
                <img class="imgEdit" src="./assets/img/edit-regular.svg" alt="">
            </td>
        </tr>
    </table>
</div>